.app__list {
    list-style: none;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.app__title {
    display:flex;
    justify-content: center;
}

.filter__box {
    display: flex;
    justify-content: center;

}

.character__box {
    width: 350px;
    height: 350px;
    text-decoration: none;
    margin: auto;
}

.link__character {
    text-decoration: none;
    color:black; 
     
}

.character__img {
    width: 200px;
    height: 200px;
}

.link__back {
    text-decoration: none;
    margin:auto;
}

.card {
    margin:200px;
}


